/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #f5f5f5;*/
  background-color: #1D7373;

}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 10px 0 10px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
 /*
 ---------------------------------------------------------
 Local changes
 */

/* should use navbar-brand as source */
.irc  {
  margin-left:-15px;
  margin-top:-5px;
  margin-bottom:-5px;
  height:30px;
}

[class*="-col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.level-2 {
  margin-left: 10%;
}

.vertical-group-nested-support {
  display: block;
}

.bare-row {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.inline {
  display: inline;
}

.separator {
  margin-left: 20px;
}

.map-row {
  height: 600px;
}

.centered {
  text-align: center;
}